
{% extends "base/base.html" %} {% load static %} {% block body %} 
<!-- about section -->

<section class="about_section mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="img-box">
					<img src="{% static 'images/about-img.jpg' %}" alt="" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="detail-box">
					<div class="heading_container">
						<h2>About Us</h2>
					</div>
					<p>
						With 25 years of expertise in crafting timeless treasures, Fox Jewellers
						Jewellery is a trusted name in the world of fine jewelry. We take pride in
						offering HUID hallmarked jewels, ensuring authenticity and purity in every
						piece. Our exquisite collection includes 22-karat gold jewelry, dazzling
						diamond creations, and elegant silver ornaments, catering to all your
						special occasions. At Fox Jewellers Jewellery, customer satisfaction is our
						priority. Our exceptional service and commitment to quality have earned us
						the love and trust of our valued customers. Whether you're looking for
						traditional elegance or contemporary designs, we bring you the finest
						craftsmanship and an unparalleled shopping experience. Visit us today and
						discover the beauty of perfection!
					</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!-- end about section -->

{% include "section/blog.html" %}

{% endblock body %}